@font-face {
    font-family: "lato";
    src: url(font/Lato-Black.ttf);
}

:root {
    --primaryColor: #6d28d9;
    --secondryWhite: #ede9fe;
    --mainWhite: #ffff;
    --mainBlack: #222;
    --mainGray: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato";
    height: 100vh;
}


/*! -----------NavBar------------- */

.nav-bar {
    position: sticky;
    top: 0;
    background-color: var(--secondryWhite);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.85rem;
}

span i {
    color: var(--primaryColor);
    font-size: 1.75rem;
    cursor: pointer;
}

p {
    font-size: 1.7rem;
}

.cart {
    position: relative;
}

.counter {
    background-color: var(--mainRed);
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainWhite);
    top: -8;
    right: -12;
}


/*? --------start of prodouct ------*/

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product .title {
    margin: 20px 0;
    font-weight: 900px;
}

.product-container {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-bottom: 50px;
    padding: 0 10px;
}

.product-items {
    background-color: var(--secondryWhite);
    padding-bottom: 20px;
    border-radius: 9px 0 8px 0;
}

.product-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.imgae-desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.imgae-desc p {
    font-size: 1rem;
}

button {
    width: auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: .9rem;
    background-color: var(--mainWhite);
    color: var(--primaryColor);
    margin: 2% 0px 0px 32%;
    cursor: pointer;
    border-radius: 5px;
}